[submodule "geomio/third_party/glm"]
	path = geomio/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "geomio/third_party/tinyobjloader"]
	path = geomio/third_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
